@use "@picocss/pico/scss/pico" with (
    $semantic-root-element: "#root",
    $enable-semantic-container: true,
    $enable-classes: true
);  

*{
    box-sizing: border-box;
}

#root{
    > main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100vh;
    }
}
   
header{
    display: flex;
    height: 50px;
    flex-direction: column;
    align-items: center;
}

textarea{
    resize:none;
}

a{
    text-decoration: none;
}